PackingClassLibrary/Service References/GetService/KrausWarehouseServices31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.5.212/KrausWarehouseServices.Service.Shipping.Get.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" />
  <xs:import schemaLocation="http://192.168.5.212/KrausWarehouseServices.Service.Shipping.Get.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.5.212/KrausWarehouseServices.Service.Shipping.Get.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" />
  <xs:element name="View_Get_Shipping_DataAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Get_Shipping_DataAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="View_Get_Shipping_DataAllResult" nillable="true" type="q1:ArrayOfviewGet_Shipping_DataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Get_Shipping_DataByShippingNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShippingNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Get_Shipping_DataByShippingNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="View_Get_Shipping_DataByShippingNumberResult" nillable="true" type="q2:ArrayOfviewGet_Shipping_DataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Get_Shipping_DataByLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Get_Shipping_DataByLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="View_Get_Shipping_DataByLocationResult" nillable="true" type="q3:ArrayOfviewGet_Shipping_DataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Get_Shipping_DataBySKUNameAndShippngNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShippingNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SKUName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Get_Shipping_DataBySKUNameAndShippngNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="View_Get_Shipping_DataBySKUNameAndShippngNumberResult" nillable="true" type="q4:ArrayOfviewGet_Shipping_DataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllAudit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllAuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="AllAuditResult" nillable="true" type="q5:ArrayOfAutditDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_UserID" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="AuditByUserIDResult" nillable="true" type="q7:ArrayOfAutditDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditByUserLogID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_UserLogID" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditByUserLogIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="AuditByUserLogIDResult" nillable="true" type="q9:ArrayOfAutditDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllBox">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="AllBoxResult" nillable="true" type="q10:ArrayOfBoxPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxByBoxID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_BoxID" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxByBoxIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="BoxByBoxIDResult" nillable="true" type="q12:BoxPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxByBoxNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_BoxNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxByBoxNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="BoxByBoxNumberResult" nillable="true" type="q13:BoxPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxByPackingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_PackingID" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxByPackingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="BoxByPackingIDResult" nillable="true" type="q15:ArrayOfBoxPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageAllPackge">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageAllPackgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageAllPackgeResult" nillable="true" type="q16:ArrayOfPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByPackageID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PackageID" type="q17:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByPackageIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageByPackageIDResult" nillable="true" type="q18:ArrayOfPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByStationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StationID" type="q19:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByStationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageByStationIDResult" nillable="true" type="q20:ArrayOfPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageByUserIDResult" nillable="true" type="q22:ArrayOfPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByShippingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ShippingID" type="q23:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByShippingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageByShippingIDResult" nillable="true" type="q24:ArrayOfPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByShippingNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShippingNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByShippingNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageByShippingNumResult" nillable="true" type="q25:ArrayOfPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByUserIDAndDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q26:guid" />
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByUserIDAndDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageByUserIDAndDateResult" nillable="true" type="q27:ArrayOfPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByShippingNumAndLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShippingNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByShippingNumAndLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageByShippingNumAndLocationResult" nillable="true" type="q28:ArrayOfPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PCKROWID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PackingIDResult" type="q29:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxPackingID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxPackingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaxPackingIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageDetailAllPackageDetail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageDetailAllPackageDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageDetailAllPackageDetailResult" nillable="true" type="q30:ArrayOfPackageDetailDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageDetailByPackingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PackingID" type="q31:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageDetailByPackingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageDetailByPackingIDResult" nillable="true" type="q32:ArrayOfPackageDetailDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageDetailByBoxNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BoxNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageDetailByBoxNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageDetailByBoxNumberResult" nillable="true" type="q33:ArrayOfPackageDetailDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleAllRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleAllRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="RoleAllRolesResult" nillable="true" type="q34:ArrayOfRoleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleByRoleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RoleID" type="q35:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleByRoleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="RoleByRoleIDResult" nillable="true" type="q36:ArrayOfRoleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingAllShipping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingAllShippingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingAllShippingResult" nillable="true" type="q37:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByShippingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ShippingID" type="q38:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByShippingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByShippingIDResult" nillable="true" type="q39:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByShippingNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShippingNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByShippingNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByShippingNumResult" nillable="true" type="q40:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByOrderID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByOrderIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByOrderIDResult" nillable="true" type="q41:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByCustomerPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerPO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByCustomerPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByCustomerPOResult" nillable="true" type="q42:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByVendorName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByVendorNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByVendorNameResult" nillable="true" type="q43:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByVendorNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByVendorNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByVendorNumResult" nillable="true" type="q44:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByCarrier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Carrier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByCarrierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByCarrierResult" nillable="true" type="q45:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByShippingROWID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShippingROWID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByShippingROWIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByShippingROWIDResult" nillable="true" type="q46:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByGetByFromDateToDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByGetByFromDateToDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByGetByFromDateToDateResult" nillable="true" type="q47:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterAllStation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterAllStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="StationMasterAllStationResult" nillable="true" type="q48:ArrayOfStationMasterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterByStationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StaionID" type="q49:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterByStationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="StationMasterByStationIDResult" nillable="true" type="q50:ArrayOfStationMasterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterByStationName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterByStationNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="StationMasterByStationNameResult" nillable="true" type="q51:ArrayOfStationMasterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterByRequestedUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RequestedUserID" type="q52:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterByRequestedUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="StationMasterByRequestedUserIDResult" nillable="true" type="q53:ArrayOfStationMasterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="TrackingAllResult" nillable="true" type="q54:ArrayOfTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByTrackingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TrackingID" type="q55:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByTrackingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="TrackingByTrackingIDResult" nillable="true" type="q56:ArrayOfTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByPackingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PackingID" type="q57:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByPackingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="TrackingByPackingIDResult" nillable="true" type="q58:ArrayOfTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByShippingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ShippingID" type="q59:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByShippingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="TrackingByShippingIDResult" nillable="true" type="q60:ArrayOfTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByBoxID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="BoxID" type="q61:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByBoxIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="TrackingByBoxIDResult" nillable="true" type="q62:ArrayOfTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByTrackingNUmber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackingNUmber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByTrackingNUmberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="TrackingByTrackingNUmberResult" nillable="true" type="q63:ArrayOfTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByVendorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByVendorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="TrackingByVendorIDResult" nillable="true" type="q64:ArrayOfTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByBoxNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BoxNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByBoxNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="TrackingByBoxNumResult" nillable="true" type="q65:ArrayOfTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserAllUserResult" nillable="true" type="q66:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q67:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserByUserIDResult" nillable="true" type="q68:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserByUserNameResult" nillable="true" type="q69:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserByRoleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RoleID" type="q70:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserByRoleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserByRoleIDResult" nillable="true" type="q71:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserByRoleName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserByRoleNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserByRoleNameResult" nillable="true" type="q72:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserStationAllUserResult" nillable="true" type="q73:ArrayOfUserStationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationByUserStationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserStationID" type="q74:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationByUserStationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserStationByUserStationIDResult" nillable="true" type="q75:ArrayOfUserStationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q76:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserStationByUserIDResult" nillable="true" type="q77:ArrayOfUserStationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationByStationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StationID" type="q78:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationByStationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserStationByStationIDResult" nillable="true" type="q79:ArrayOfUserStationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorLogAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorLogAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ErrorLogAllResult" nillable="true" type="q80:ArrayOfErrorLogDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPCtoSKUName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UPC_Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPCtoSKUNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UPCtoSKUNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SKUNameToUPCCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SKU_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SKUNameToUPCCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SKUNameToUPCCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAllShippingDeatil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAllShippingDeatilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ViewAllShippingDeatilResult" nillable="true" type="q81:ArrayOfviewgetShippingDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewGetByShipmentNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShipmentNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewGetByShipmentNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ViewGetByShipmentNumResult" nillable="true" type="q82:ArrayOfviewgetShippingDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewGetByOrderID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_orderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewGetByOrderIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ViewGetByOrderIDResult" nillable="true" type="q83:ArrayOfviewgetShippingDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewGetByPoNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_POnumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewGetByPoNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ViewGetByPoNumberResult" nillable="true" type="q84:ArrayOfviewgetShippingDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewGetBySupplierNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_SupplierNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewGetBySupplierNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ViewGetBySupplierNumberResult" nillable="true" type="q85:ArrayOfviewgetShippingDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewGetByVendorName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_VenderName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewGetByVendorNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ViewGetByVendorNameResult" nillable="true" type="q86:ArrayOfviewgetShippingDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySKUname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SKUname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySKUnameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBySKUnameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByBarcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SKUname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetByBarcodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBpinfoOFShippingNum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBpinfoOFShippingNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetBpinfoOFShippingNumResult" nillable="true" type="q87:ArrayOfShippingInfoBPNameDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBPNameFromBPNUM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BPNUM_0" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBPNameFromBPNUMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBPNameFromBPNUMResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantity1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantity1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetPackingTimeAndQantity1Result" nillable="true" type="q88:ArrayOfPackingTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantity2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q89:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantity2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetPackingTimeAndQantity2Result" nillable="true" type="q90:ArrayOfPackingTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantity3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Fromdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Todate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantity3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetPackingTimeAndQantity3Result" nillable="true" type="q91:ArrayOfPackingTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantity4">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q92:guid" />
        <xs:element minOccurs="0" name="Fromdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Todate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantity4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetPackingTimeAndQantity4Result" nillable="true" type="q93:ArrayOfPackingTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantity5">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PackingStatus" type="xs:int" />
        <xs:element minOccurs="0" name="PackingStaus1" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantity5Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetPackingTimeAndQantity5Result" nillable="true" type="q94:ArrayOfPackingTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantity6">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q95:guid" />
        <xs:element minOccurs="0" name="PackingStatus" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantity6Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetPackingTimeAndQantity6Result" nillable="true" type="q96:ArrayOfPackingTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantity7">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Fromdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Todate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="PackingStatus" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantity7Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetPackingTimeAndQantity7Result" nillable="true" type="q97:ArrayOfPackingTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantity8">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q98:guid" />
        <xs:element minOccurs="0" name="Fromdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Todate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="PackingStatus" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantity8Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetPackingTimeAndQantity8Result" nillable="true" type="q99:ArrayOfPackingTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantityByStation21">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StationID" type="q100:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantityByStation21Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetPackingTimeAndQantityByStation21Result" nillable="true" type="q101:ArrayOfPackingTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantityByStation22">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q102:guid" />
        <xs:element xmlns:q103="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StationID" type="q103:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantityByStation22Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetPackingTimeAndQantityByStation22Result" nillable="true" type="q104:ArrayOfPackingTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantityByStation23">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Fromdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Todate" type="xs:dateTime" />
        <xs:element xmlns:q105="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StationID" type="q105:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantityByStation23Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetPackingTimeAndQantityByStation23Result" nillable="true" type="q106:ArrayOfPackingTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantityByStation24">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q107:guid" />
        <xs:element minOccurs="0" name="Fromdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Todate" type="xs:dateTime" />
        <xs:element xmlns:q108="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StationID" type="q108:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantityByStation24Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetPackingTimeAndQantityByStation24Result" nillable="true" type="q109:ArrayOfPackingTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantityByStation25">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PackingStatus" type="xs:int" />
        <xs:element minOccurs="0" name="PackingStaus1" type="xs:boolean" />
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StationID" type="q110:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantityByStation25Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetPackingTimeAndQantityByStation25Result" nillable="true" type="q111:ArrayOfPackingTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantityByStation26">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q112:guid" />
        <xs:element minOccurs="0" name="PackingStatus" type="xs:int" />
        <xs:element xmlns:q113="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StationID" type="q113:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantityByStation26Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetPackingTimeAndQantityByStation26Result" nillable="true" type="q114:ArrayOfPackingTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantityByStation27">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Fromdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Todate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="PackingStatus" type="xs:int" />
        <xs:element xmlns:q115="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StationID" type="q115:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantityByStation27Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetPackingTimeAndQantityByStation27Result" nillable="true" type="q116:ArrayOfPackingTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantityByStation28">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q117:guid" />
        <xs:element minOccurs="0" name="Fromdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Todate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="PackingStatus" type="xs:int" />
        <xs:element xmlns:q118="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StationID" type="q118:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTimeAndQantityByStation28Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetPackingTimeAndQantityByStation28Result" nillable="true" type="q119:ArrayOfPackingTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShippingNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStausResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetStausResult" nillable="true" type="q120:ArrayOfShipmentNumStatusDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEachStationPacked">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEachStationPackedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetEachStationPackedResult" nillable="true" type="q121:ArrayOfStationToatlPackedDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEachStationPacked1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DateReport" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEachStationPacked1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetEachStationPacked1Result" nillable="true" type="q122:ArrayOfStationToatlPackedDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationByReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DateReport" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationByReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetStationByReportResult" nillable="true" type="q123:ArrayOfDashBoardStionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackedTodayByStationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackedTodayByStationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PackedTodayByStationIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnderPackingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnderPackingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnderPackingIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastLoginStationAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LastLoginStationAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="LastLoginStationAllUsersResult" nillable="true" type="q124:ArrayOfUserCurrentStationAndDeviceIDDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShipmentCountByUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShipmentCountByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetAllShipmentCountByUserResult" nillable="true" type="q125:ArrayOfUserShipmentCountDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalShipmentPackedTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalShipmentPackedTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping.ReportEntity" minOccurs="0" name="GetTotalShipmentPackedTimeResult" nillable="true" type="q126:ArrayOfShipmentPackedTodayAndAvgTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>