PackingClassLibrary/Service References/GetService/KrausWarehouseServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.5.66/KrausWarehouseServices.Service.Shipping.Get.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" />
  <xs:import schemaLocation="http://192.168.5.66/KrausWarehouseServices.Service.Shipping.Get.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="View_Get_Shipping_DataAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Get_Shipping_DataAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="View_Get_Shipping_DataAllResult" nillable="true" type="q1:ArrayOfviewGet_Shipping_DataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Get_Shipping_DataByShippingNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShippingNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Get_Shipping_DataByShippingNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="View_Get_Shipping_DataByShippingNumberResult" nillable="true" type="q2:ArrayOfviewGet_Shipping_DataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Get_Shipping_DataByLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View_Get_Shipping_DataByLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="View_Get_Shipping_DataByLocationResult" nillable="true" type="q3:ArrayOfviewGet_Shipping_DataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllAudit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllAuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="AllAuditResult" nillable="true" type="q4:ArrayOfAutditDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_UserID" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="AuditByUserIDResult" nillable="true" type="q6:ArrayOfAutditDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditByUserLogID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_UserLogID" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditByUserLogIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="AuditByUserLogIDResult" nillable="true" type="q8:ArrayOfAutditDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllBox">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="AllBoxResult" nillable="true" type="q9:ArrayOfBoxPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxByBoxID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_BoxID" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxByBoxIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="BoxByBoxIDResult" nillable="true" type="q11:BoxPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxByBoxNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_BoxNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxByBoxNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="BoxByBoxNumberResult" nillable="true" type="q12:BoxPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxByPackingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_PackingID" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxByPackingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="BoxByPackingIDResult" nillable="true" type="q14:ArrayOfBoxPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageAllPackge">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageAllPackgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageAllPackgeResult" nillable="true" type="q15:ArrayOfPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByPackageID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PackageID" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByPackageIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageByPackageIDResult" nillable="true" type="q17:ArrayOfPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByStationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StationID" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByStationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageByStationIDResult" nillable="true" type="q19:ArrayOfPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageByUserIDResult" nillable="true" type="q21:ArrayOfPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByShippingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ShippingID" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByShippingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageByShippingIDResult" nillable="true" type="q23:ArrayOfPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByShippingNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShippingNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageByShippingNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageByShippingNumResult" nillable="true" type="q24:ArrayOfPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageDetailAllPackageDetail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageDetailAllPackageDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageDetailAllPackageDetailResult" nillable="true" type="q25:ArrayOfPackageDetailDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageDetailByPackingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PackingID" type="q26:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageDetailByPackingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageDetailByPackingIDResult" nillable="true" type="q27:ArrayOfPackageDetailDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageDetailByBoxNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BoxNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageDetailByBoxNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="PackageDetailByBoxNumberResult" nillable="true" type="q28:ArrayOfPackageDetailDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleAllRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleAllRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="RoleAllRolesResult" nillable="true" type="q29:ArrayOfRoleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleByRoleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RoleID" type="q30:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleByRoleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="RoleByRoleIDResult" nillable="true" type="q31:ArrayOfRoleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingAllShipping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingAllShippingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingAllShippingResult" nillable="true" type="q32:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByShippingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ShippingID" type="q33:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByShippingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByShippingIDResult" nillable="true" type="q34:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByShippingNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShippingNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByShippingNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByShippingNumResult" nillable="true" type="q35:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByOrderID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByOrderIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByOrderIDResult" nillable="true" type="q36:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByCustomerPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerPO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByCustomerPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByCustomerPOResult" nillable="true" type="q37:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByVendorName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByVendorNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByVendorNameResult" nillable="true" type="q38:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByVendorNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByVendorNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByVendorNumResult" nillable="true" type="q39:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByCarrier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Carrier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByCarrierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByCarrierResult" nillable="true" type="q40:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByShippingROWID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShippingROWID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByShippingROWIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByShippingROWIDResult" nillable="true" type="q41:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByGetByFromDateToDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingByGetByFromDateToDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ShippingByGetByFromDateToDateResult" nillable="true" type="q42:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterAllStation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterAllStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="StationMasterAllStationResult" nillable="true" type="q43:ArrayOfStationMasterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterByStationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StaionID" type="q44:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterByStationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="StationMasterByStationIDResult" nillable="true" type="q45:ArrayOfStationMasterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterByStationName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterByStationNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="StationMasterByStationNameResult" nillable="true" type="q46:ArrayOfStationMasterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterByRequestedUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RequestedUserID" type="q47:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterByRequestedUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="StationMasterByRequestedUserIDResult" nillable="true" type="q48:ArrayOfStationMasterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="TrackingAllResult" nillable="true" type="q49:ArrayOfTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByTrackingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TrackingID" type="q50:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByTrackingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="TrackingByTrackingIDResult" nillable="true" type="q51:ArrayOfTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByPackingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PackingID" type="q52:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByPackingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="TrackingByPackingIDResult" nillable="true" type="q53:ArrayOfTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByShippingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ShippingID" type="q54:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByShippingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="TrackingByShippingIDResult" nillable="true" type="q55:ArrayOfTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByBoxID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="BoxID" type="q56:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByBoxIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="TrackingByBoxIDResult" nillable="true" type="q57:ArrayOfTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByTrackingNUmber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackingNUmber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByTrackingNUmberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="TrackingByTrackingNUmberResult" nillable="true" type="q58:ArrayOfTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByVendorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByVendorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="TrackingByVendorIDResult" nillable="true" type="q59:ArrayOfTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByBoxNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BoxNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingByBoxNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="TrackingByBoxNumResult" nillable="true" type="q60:ArrayOfTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserAllUserResult" nillable="true" type="q61:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q62:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserByUserIDResult" nillable="true" type="q63:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserByUserNameResult" nillable="true" type="q64:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserByRoleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RoleID" type="q65:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserByRoleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserByRoleIDResult" nillable="true" type="q66:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserByRoleName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserByRoleNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserByRoleNameResult" nillable="true" type="q67:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserStationAllUserResult" nillable="true" type="q68:ArrayOfUserStationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationByUserStationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserStationID" type="q69:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationByUserStationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserStationByUserStationIDResult" nillable="true" type="q70:ArrayOfUserStationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q71:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserStationByUserIDResult" nillable="true" type="q72:ArrayOfUserStationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationByStationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StationID" type="q73:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationByStationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="UserStationByStationIDResult" nillable="true" type="q74:ArrayOfUserStationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorLogAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorLogAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="ErrorLogAllResult" nillable="true" type="q75:ArrayOfErrorLogDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>